.root {
  .container {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .actions {
    margin-top: 24px;

    button {
      margin-right: 24px;
    }
  }

  .btn {
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      background-color: #4b6659;
    }

    &-finish {
      color: #cb6d4d;
      border-color: #cb6d4d;

      &:hover {
        color: white;
        background-color: #cb6d4d;
      }
    }
  }
}
