.root {
  display: flex;
  justify-content: space-between;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .column {
    width: 45%;
  }

  .recipe {
    cursor: pointer;
    list-style-type: none;
    padding: 12px;
    border: 1px solid #4b6659;
    border-radius: 4px;
    margin-bottom: 12px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      background-color: #4b6659;
    }
  }
}
